# URLs de las APIs ShopDemo (Docker Compose local por defecto)
ShopDemo__CatalogApiBaseUrl=http://host.docker.internal:8001
ShopDemo__InventoryApiBaseUrl=http://host.docker.internal:8003
ShopDemo__AnalyticsApiBaseUrl=http://host.docker.internal:8004
